@charset "utf-8";
/* Author: Nataliya Tsytovych
     Date:   07/10/2021
     Assignment: Cheech's Flexible Pizza Parlor
*/
body {
  background-image: url(logo.jpg);
  background-size: cover;
  background-position: center;

}
header {
  background: linear-gradient(to top left, #33ccff 14%, #ff0000 99%);
  top: 0;
  position: sticky;
}
h1 {
  color: white;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: row;
}
nav a {
  color: black;
  font-size: 30px;
  text-decoration: none;
  margin-right: 80px;
  text-align: center;
}
nav a:hover {
  color: #fdeb01;
}
section.menue {
  display: flex;
  flex-wrap: wrap;

}
div {
  flex-basis: 50%;
}
div.container {
  background: linear-gradient(to top left, #33ccff 14%, #ff0000 99%);
  opacity: 75%;

}
section.menue>div>img {
  padding-left: 120px;
}

h2 {
  background: linear-gradient(to top left, #33ccff 14%, #ff0000 99%);
  text-align: center;

}
p {
    background: linear-gradient(to top left, #33ccff 14%, #ff0000 99%);
    text-align: center;
    font-size: 1.5em;
}
footer {
  color: white;
  background-color: gray;
  text-align: center;
  font-size: 1em;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}
section.order {
  display: flex;
  flex-direction: row;
}
div.colm1 {
  flex-basis: 50%;
  background: linear-gradient(to top left, #33ccff 14%, #ff0000 99%) ;
  opacity: 75%;
}
div.colm2 {
  flex-basis: 50%;
  background: linear-gradient(to top left, #33ccff 14%, #ff0000 99%);
  opacity: 75%;
}
article {
  font-size: 2em;
}
i {
  text-align: center;
  border: double 1px black;
  margin-left: 15px;
}
blockquote {
  display: flex;
  flex-direction: row;
}
blockquote.review {
 flex-basis: 50%;
 flex-wrap: wrap;
}
blockquote.socials {
  flex-basis: 50%;
}
@media screen and (max-width:568px) {
  nav{
    flex-direction: column;
  }
}
section.menue>div>img {
  padding-left: 30px;
}

@media screen and (max-width:578px) {
  section.order {
    flex-wrap: wrap;
    flex-direction: column;
    }
  blockquote.socials {
    flex-direction: column;
  }
}
